.main__button {
    background-color: #d4f1d5;
    color: #000700;
    height: 100px;
    width: 300px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 10px;
    cursor: pointer;
    border-color: blue;
    border-radius: 6px;
}
button:hover {
    color: rgb(143, 154, 211);
    border-color: #07c007;
    }
    
button:active {
    color: blue;
    background-color: #07c007;
}

.header__button {
    background-color: #d4f1d5;
    color: #000700;
    height: 100px;
    width: 400px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
    cursor: pointer;
    border-color: blue;
    border-radius: 6px;
}
