* {box-sizing: auto;}

body { 
  margin: 0;
  font-family: Montserat, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #99d8ac;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a.active {
  background-color: #9dd6a0;
}

nav {
  display: flex;
  align-items: center;
  }