.main {
    width: 300px;
    border: none;
    background-color: aliceblue;
    border-color: aquamarine;
    margin: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}