body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #c1d4e7;

    background-color: #fefefb;

    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
