.main-button {
    background-color: #d4f1d5;
    color: #a3b3a3;
    height: 50px;
    width: 130px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.header-button {
    background-color: #d4f1d5;
    color: #a3b3a3;
    height: 100px;
    width: 200px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
