body {
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #000307;
    margin: auto;

    background-color: #fefefb;

    overflow-x: hidden;
    
}

 body {
    margin: 0;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .aside, .main {
    width: 100%;
    min-height: 1px;
  }
  @media (min-width: 560px) {
  .aside {
    flex: 0 0 33.333333%;
    max-width: 90%;
    order: 1;
  }
  .main {
    flex: 0 0 70%;
    max-width: 100%;
    order: 2;
  }
  }
  @media (min-width: 1400px) {
  .aside {
    flex: 0 0 25%;
    max-width: 100%;
  }
  .main {
    flex: 0 0 75%;
    max-width: 100%;
  }
  }
  @media (min-width: 760px) {
    .aside {
      flex: 0 0 25%;
      max-width: 90%;
    }
    .main {
      flex: 0 0 75%;
      max-width: 100%;
    }
}

.object {
  border: 6px solid blue;
  border-radius: 10px;
  width: 460px;
  min-height: 400px;
  margin: 20px auto;
  display: none; 
  text-align: center; 
  position: fixed;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white; 
}

.object img {
  width: 310px;
  height: 290px;
  border-radius: 5px;
}

.object p {
  font-size: 30px; 
  margin: 10px 0; 
}

.sample-slider{
  width:50%;
}
.sample-slider .swiper-slide{  
  border-radius: 20px;        
}                               
.sample-slider img{
  width: 100%;
  vertical-align: bottom;     
}

.swiper-slide {
  min-height: auto;
}