body {
    width: auto;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #4a525a;

    background-color: #fefefb;

    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
