.main-button {
    background-color: #d4f1d5;
    color: rgb(0, 0, 0);
    hight: 40px;
    weight: 100px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.header-button {
    background-color: #d4f1d5;
    color: rgb(0, 0, 0);
    hight: 40px;
    weight: 100px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
