.main__button {
    background-color: #c8ebc9;
    color: #000700;
    height: auto;
    width: auto;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 2px;
    cursor: pointer;
    border-radius: 6px;
    border-color: blue;
    justify-content: center; 
}

.header__button {
    background-color: #c8ebc9;
    color: #000700;
    height: 70px;
    width: 400px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 6px;
    margin-top: 5px;
    cursor: pointer;
    border-color: blue;
    border-radius: 6px;
    justify-content: center; 
}
 
.section__button {
    background-color: #ccc;
    height: 100px;
    width: 400px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
    border-color: blue;
    border-radius: 6px;
    cursor: not-allowed;
    justify-content: center; 
}

.header__button:hover {
    border-color: #07c007;
    background-color: aquamarine;
    }

.header__button:active {
    background-color: #07c007;
}

.main__button:hover {
    border-color: #07c007;
    background-color: aquamarine;
    }

.main__button:active {
    background-color: #07c007;
}

.map__button {
    background-color: #c8ebc9;
    color: #000700;
    height: 70px;
    width: 170px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 6px;
    margin-top: 5px;
    cursor: pointer;
    border-color: blue;
    border-radius: 6px;
    justify-content: center;  
}

.map__button:hover {
    border-color: #07c007;
    background-color: aquamarine;
    }

.map__button:active {
    background-color: #07c007;
}

.enter__button {
    background-color: #afd8bf;
    height: auto;
    width: auto;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
    border-color: blue;
    border-radius: 6px;
    justify-content: center; 
}

.delete__button {
    background-color: #afd8bf;
    height: auto;
    width: auto;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
    border-color: blue;
    border-radius: 6px;
    justify-content: center; 
    position: sticky;
}
   
.enter__button:hover {
    border-color: #07c007;
    background-color: aquamarine;
    }

.enter__button:active {
    background-color: #07c007;
}

.delete__button:hover {
    border-color: #07c007;
    background-color: aquamarine;
    }

.delete__button:active {
    background-color: #07c007;
}