 .main_conteiner {
   backround-color: #98FB98;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 50px;
   row-gap: 100px;
   column-gap: 50px;
   justify-content: center;
}
