 .main_conteiner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto auto auto auto auto auto auto;
   row-gap: 100px;
   column-gap: 50px;
   justify-content: center;
}
