.header__logo {
    height: 200px;
    line-height: 1.2;
    color: aquamarine;
    text-decoration: none;
    margin: 10px;
}

.main__logo {
    height: 460px;
    width: 80%;
    background-color: aquamarine;
    text-decoration: none;
    margin: 22px;
}
