.header-tittle {
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: xx-large;
}
.one {
    line-height: normal;
}
.two {
  line-height: normal;
}
.main-tittle {
    font-family: 'Times New Roman', serif;
    font-size: x-large;
  }
  .one {
    line-height: normal;
  }
  .two {
    line-height: normal;
  }
   {
    font-family: 'Times New Roman', serif;
    font-size: x-large;
  }
  .one {
    line-height: normal;
  }
  .two {
    line-height: normal;
  }
  .main-button {
    background-color: #d4f1d5;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 12px 4px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    input:focus {
border-color: blue;
}
    button:active {
background-color: grey;
}
}

 .conteiner {
     width: 1800;
     height: 1100;
     margin: 0;
}
 . left {
      float: left;
      width: 600;
      height: 600;
}
. centre {
      float: centre;
      width: 600;
      height: 600;
. right {
      float: right;
      width: 600;
      height: 600;

 
